body{
	background-color:#f9f9f9;
	font-size:16px;
	color:#444;
	font-family: sans-serif;
}

.content{
	width: 80%;
	margin: 10px auto;
}

/*header*/
header{
	padding: 20px 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

header h1.judul,
header h3.deskripsi{
	text-align: center;	
}


.badan{
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}

.halaman{
	text-align: center;
	padding: 30px 20px;	
}
